// Null stules ========================
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{color:inherit;text-decoration: none;}

// Fonts ==============================
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,600);
@font-face {
  font-family: "icons";
  src: url(../src/iconFont/icomoon.woff) format('woff');
}

.main {
  font-family: Noto sans;
}
// Colors =============================
:root {
  --color-btn:#c67a30;
  --color-btn-hover:#e49445;
  --color-btn-spec:#8b471a;
  --color-bg:#98624c;
  --color-border:#543431;
  --color-text: #fff;
}
// Main styles ========================
.main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.keyboard__textarea {
}
.keyboard__wrapper {
}
.keyboard__row {
}
.btn {
}
.btn-spec {
}
.keyboard__notation {
}